<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
        <div class="container">
            <img src="assets/images/logo.png" class="logo test-0-logo " alt="logo">
            
            <div class="navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link test-0-nav-1 link-light" href="#">Promotions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-0-nav-2 link-light" href="#">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-0-nav-3 link-light" href="#">Check-in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link test-0-nav-4 link-light" href="login.html">Personal area</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <section class="mt-5">
            <h2 class="mb-4 text-white">Flight search</h2>

            <form action="search.html">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 pr-lg-0">
                        <input type="text" class="form-control test-0-fd w-100" placeholder="From where">
                        <div class="invalid-feedback">Error message</div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mt-3 col-xl-3 mt-sm-0 pr-lg-0">
                        <input type="text" class="form-control test-0-fa w-100" placeholder="To where">
                        <div class="invalid-feedback">Error message</div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2 mt-3 col-xl-2 mt-lg-0 pr-lg-0">
                        <input type="text" class="form-control test-0-fdt" placeholder="Departing">
                        <div class="invalid-feedback">Error message</div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2 mt-3 col-xl-2 mt-lg-0 pr-xl-0">
                        <input type="text" class="form-control test-0-fat" placeholder="Returning">
                        <div class="invalid-feedback">Error message</div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2 mt-3 col-xl-1 mt-lg-0 pr-xl-0">
                        <select class="form-control test-0-fnp">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                        <div class="invalid-feedback">Error message</div>
                    </div>
                    <div class="col-12 col-xl-1 px-2 mt-3 mt-xl-0">
                        <button class="btn btn-info form-control test-0-fbs">Search</button>
                    </div>
                </div>
            </form>
        </section>

        <section class="mt-5">
            <h2 class="mb-4 text-white">Promotions</h2>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card bg-secondary text-center text-white">
                        <img src="assets/images/promotions.jpg" class="card-img-top test-0-ai" alt="...">
                        <div class="card-body">
                            <h5 class="card-title test-0-an">Promotion 1</h5>
                            <p class="card-text test-0-ad">Promotion text</p>
                            <a href="#" class="btn btn-info w-100 test-0-abm">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card bg-secondary text-center text-white">
                        <img src="assets/images/promotions.jpg"  class="card-img-top test-0-ai" alt="...">
                        <div class="card-body">
                            <h5 class="card-title test-0-an">Promotion 1</h5>
                            <p class="card-text test-0-ad">Promotion text</p>
                            <a href="#" class="btn btn-info w-100 test-0-abm">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card bg-secondary text-center text-white">
                        <img src="assets/images/promotions.jpg"  class="card-img-top test-0-ai" alt="...">
                        <div class="card-body">
                            <h5 class="card-title test-0-an">Promotion 1</h5>
                            <p class="card-text test-0-ad">Promotion text</p>
                            <a href="#" class="btn btn-info w-100 test-0-abm">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card bg-secondary text-center text-white">
                        <img src="assets/images/promotions.jpg"  class="card-img-top test-0-ai" alt="...">
                        <div class="card-body">
                            <h5 class="card-title test-0-an">Promotion 1</h5>
                            <p class="card-text test-0-ad">Promotion text</p>
                            <a href="#" class="btn btn-info w-100 test-0-abm">More</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <section class="mt-5">
            <h2 class="mb-4 text-white">Subscribe</h2>

            <form action="#">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <input type="email" class="form-control test-0-sie" placeholder="example@domain.com">
                    </div>
                    <div class="col-12 col-md-6">
                        <button class="btn btn-info w-100 test-0-sbs">Subscribe</button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <footer class="mt-5 " >
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <span class="test-0-phone text-white">8 (800) 100-10-10</span>
                </div>
                <div class="col-7 offset-2">
                    <div class="d-flex justify-content-between">

                        <a href="http://xxxxxx-m1.wsr.ru" class="text-white">Home</a>
                        <a href="http://xxxxxx-m1.wsr.ru/login " class="text-white">Log in</a>
                        <a href="http://xxxxxx-m1.wsr.ru/register" class="text-white">Registration</a>
                        <a href="http://xxxxxx-m1.wsr.ru/contact" class="text-white">Contact</a>
                        <a href="http://xxxxxx-m1.wsr.ru/news" class="text-white">News</a>
                        <a href="http://xxxxxx-m1.wsr.ru/return" class="text-white">Return</a>
                        <a href="http://xxxxxx-m1.wsr.ru/feedback" class="text-white">Feedback</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>